@keyframes moveFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-400px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveFromBottom {
  0% {
    opacity: 0;
    transform: translateY(400px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
