$colorful-border: linear-gradient(90deg, #78e59b80 50%, #ff7f5080 50%);

// COLORS
$lime-dark: #78e59b;
$lime-light: rgba(120, 229, 155, 0.5);
$pink-ish-dark: #ff7f50;
$pink-ish-light: rgba(255, 127, 80, 0.5);
$blue-dark: #61daf4;
$blue-light: rgba(97, 218, 244, 0.5);
$black-ish: #121212;
$gray-ish: #f9f9f9;
$purple-dark: #b42ac0;
$purple-light: rgba(180, 42, 192, 0.5);
$purple-light-2: #e65af2;
$yellow-dark: #ffe76a;
$yellow-light: rgba(255, 231, 106, 0.5);

// margins
$heading-margin-bottom: 5rem;
$section-margin: 12rem;

// border-radius
$pic-radius: 5px;

// transition
$ease-back: cubic-bezier(0.41, 1.8, 0.55, 1);
