@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");

@import "abstracts/variables";
@import "abstracts/mixins";
@import "abstracts/animations";
@import "layouts/body";
@import "layouts/footer";
@import "layouts/navigation";
@import "layouts/queries";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%; //1rem is 10px
  scroll-behavior: smooth;
  scroll-padding-top: 18rem;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  position: relative;
}

// general styling for all the sections(animate on load)

.section {
  opacity: 0;
  filter: blur(5px);
  transform: translateY(20rem);
  transition: 1s ease;
  pointer-events: none;
  transition-delay: 0.05s;
  backface-visibility: none;
  backface-visibility: hidden;
}

.section.show {
  opacity: 1;
  filter: blur(0px);
  transform: translateY(0rem);
  pointer-events: all;
}
