.footer {
  background-color: $lime-dark;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-items: center;
  align-items: center;
  max-width: 1300px;

  &-container {
    width: 100%;
    background-color: $lime-dark;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-items: center;
    align-items: center;
    padding: 4rem 2rem;
    margin-top: $section-margin;
  }

  // top part of the footer
  &__content {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  // div housing social links
  &__left {
    display: flex;
    flex-direction: column;
    width: 30%;

    & > *:not(:last-child) {
      margin-bottom: 2rem;
    }

    p {
      font-size: 1.6rem;
      color: white;
    }

    p:first-child {
      font-size: 2rem;
      font-weight: 700;
    }
  }

  &__social-list {
    display: flex;

    & > *:not(:last-child) {
      margin-right: 1rem;
    }
  }

  &__social-item {
    list-style: none;
    background-color: white;
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__social-link {
    text-decoration: none;
    color: black;

    i {
      font-size: 1.7rem;
    }
  }

  &__right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.7rem;
    width: 70%;
  }

  // list of items on the right side of footer
  &__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    & > *:not(:last-child) {
      margin-bottom: 2rem;
    }
  }

  &__item {
    text-align: left;
    list-style: none;
    position: relative;
    padding: 0 1rem;
    cursor: pointer;
    width: fit-content;
    display: flex;
    flex-wrap: wrap;

    &:first-child {
      font-size: 2rem;
      font-weight: 600;
    }

    &:first-child::after {
      content: "";
      background-color: white;
      width: 0%;
      height: 2px;
      position: absolute;
      bottom: -8px;
      left: 50%;
      transform: translate(-50%);
      pointer-events: none;
      transition: 0.3s $ease-back;
    }
    &::after {
      content: "";
      background-color: white;
      width: 0%;
      height: 2px;
      position: absolute;
      bottom: -3px;
      left: 50%;
      transform: translate(-50%);

      pointer-events: none;
      transition: 0.3s $ease-back;
    }

    &:hover::after {
      width: 90%;

      pointer-events: all;
    }

    // animation for 'spin' on item
    &:hover &-container .link-1 {
      transform: translateY(-2.5rem);
    }
    &:hover &-container .link-2 {
      transform: translateY(-2.5rem);
    }
  }

  // div controlling link animation
  &__item-container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: flex-start;
    height: 2.3rem;

    & > *:not(:last-child) {
      margin-bottom: 0.5rem;
    }
  }

  &__link {
    text-decoration: none;
    color: white;
    transition: 0.4s $ease-back;
  }

  &__rights {
    color: white;
    margin-top: 6rem;
    font-size: 1.7rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    width: 100%;
    
    @media screen and (max-width: 850px) {
      align-items: flex-start
    }
  }


}
