@media screen and (max-width: 1000px) {
  /////////////////////
  /// HERO QUERY
  .hero {
    &__heading {
      font-size: 15rem;
    }
  }

  /////////////////////
  /// ABOUT QUERY
  .about {
    &__content {
      flex-direction: column;
    }

    &__column1 {
      align-items: flex-end;
      margin-right: 0;
      text-align: right;
    }

    &__column2 {
      flex-direction: column;

      .about__descrip {
        margin-top: 3rem;
        margin-bottom: 3rem;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  //////////////////////////
  /// FOOTER QUERY
  .footer {
    &__right {
      font-size: 1.4rem;
    }

    &__item {
      &:first-child {
        font-size: 1.7rem;
      }
    }
  }
}

@media screen and (max-width: 850px) {
  ///////////////////////////////
  ///HAMBURGER MENU
  .navigation {
    padding: 2rem 0;
    &__hamburger {
      display: block;
      position: relative;
      right: 1rem;
      transition: 0.4s $ease-back;
      z-index: 55;
      cursor: pointer;
    }

    &__item {
      overflow: hidden;
    }

    &__right.active ~ &__hamburger {
      right: 40%;
    }

    &__right {
      position: fixed;
      width: 0%;
      flex-direction: column;
      background-color: white;
      z-index: 50;
      top: 0;
      right: 0;
      height: 100%;
      align-items: flex-end;
      justify-content: flex-start;
      padding: 5rem;
      opacity: 0;
      pointer-events: none;
      transition: 0.5s $ease-back;
    }

    &__list {
      flex-direction: column;
      align-items: flex-end;

      & > * {
        margin-bottom: 3.5rem;
      }
    }

    &__right.active {
      opacity: 1;
      width: 50%;
      pointer-events: all;
    }
  }

  .overlay {
    opacity: 0;
    pointer-events: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 25;
    transition: 0.3s;
    top: 0;
    left: 0;
  }

  .overlay.active {
    opacity: 1;
    pointer-events: all;
  }

  /////////////////////
  /// HERO QUERY
  .hero {
    &__heading {
      font-size: 8rem;
    }

    &__image {
      img {
        height: 40rem;
      }
    }
  }

  /////////////////////
  /// ABOUT QUERY
  .about {
    &__sub-heading {
      font-size: 5rem;
      margin-bottom: 3rem;
    }

    &__image {
      img {
        height: 40rem;
      }
    }

    &__image--1 {
      margin-bottom: 3rem;
    }
  }
}

@media screen and (max-width: 750px) {
  // .navigation__list {
  //   display: none;
  // }

  /////////////////////
  /// HERO QUERY
  .hero {
    &__image {
      img {
        height: 30rem;
      }
    }
  }

  //////////////////////
  /// POPULAR WEEK QUERY
  .popularWeek {
    &__content {
      flex-direction: column;
    }

    &__heading {
      width: 100%;
    }

    &__column1 {
      align-items: flex-end;
    }

    &__column2 {
      align-items: flex-start;
      margin-left: 0;
    }

    &__sub-img {
      padding: 5rem 0rem;
    }

    &__img-container {
      max-width: 25rem;
      position: relative;
      height: 30rem;

      img {
        // transform: translateX(-20rem);
        position: absolute;
        right: -6rem;
        top: -6rem;
      }
    }
  }

  //////////////////////
  /// POPULAR WEEK QUERY\
  .gallery {
    &__images-container {
      flex-direction: column;

      // make-shift gap for children
      & > *:not(:last-child) {
        margin-right: 0rem;
      }
    }

    &__rectangle {
      transform: rotate(0deg);
    }

    &__section-1,
    &__section-2 {
      display: flex;
      // width: 100%;

      // make-shift gap for children
      & > *:not(:last-child) {
        margin-right: -7rem;
      }
    }
  }
}
